.box {
    border-radius: 1rem;
    border: 4px solid transparent;
    overflow: hidden;
    transition:
        border-color 0.3s ease,
        transform 0.3s ease;
    cursor: url('../../../public/mouse/smallPointer.png'), auto;
}

.box:hover {
    border-color: rgba(0, 191, 255, 0.8);
    transform: scale(1.05);
    cursor: url('../../../public/mouse/smallPointer.png'), auto;
}

.empty-box {
    background-color: #c9cacb;
    border-radius: 1rem;
    overflow: hidden;
}
.grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    flex: 0 0 auto;
    width: 75vw;
    height: 60vh;
    padding: 15px;
    background-color: transparent; /* Change for debugging */
}
